.image-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}
.image-container img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 0.6rem;
  box-shadow: 0px 0px 8px 4px rgb(0, 0, 0, 0.2);
}
@media screen and (max-height: 26em) {
  .image-container img {
    max-height: 60%;
  }
}
