.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}
.image-container img {
  max-width: 100%;
  max-height: 75vh;
  border-radius: 0.6rem;
  display: block;
}

